page-home {
}

ion-title {
    text-align: center;
    font-size: 3rem;
  }

.icon-header{
    margin-left: 15px;
    font-size: 23px;
    padding: 1px;
}

ion-app.md [padding] .scroll-content {
    padding-top: 70px;
}