<ion-header>
    <ion-navbar style="min-height: 30px; padding-top: 5px">
        <ion-title>Mobile App</ion-title>
    </ion-navbar>
<ion-toolbar  style="min-height: 30px;">
        <ion-icon (click)="currentPage = 'metric'" class="icon-header" name="md-analytics" ></ion-icon>
        <ion-icon (click)="currentPage = 'command'" class="icon-header" name="md-pulse"></ion-icon>
        <ion-icon (click)="currentPage = ''" class="icon-header" name="md-close-circle"></ion-icon>
</ion-toolbar>
</ion-header>
<ion-content padding *ngIf="currentPage == ''">
    <button ion-button block clear (click)="login()">test inapp</button>
    <ion-label>{{token}}</ion-label>
</ion-content>
<ion-content  padding *ngIf="currentPage != ''">
    <metric style="padding-top: 100px" *ngIf="currentPage == 'metric'"></metric>
    <command *ngIf="currentPage == 'command'"></command>
</ion-content>
